@font-face {
    font-family: 'Fontin';
    src: url('../fonts/Fontin-SmallCaps.otf') format('opentype'),
         url('../fonts/Fontin-SmallCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Fontin', Arial, sans-serif;
}

.text-unique {
    color: #ca6510;
    /* color: #984c0c; */
    /* color: #653208; */
}

.gradient-space-left, .gradient-space-right {
    flex-grow: 1;
}

.gradient-space-left {
    background: linear-gradient(to left, #FFF 0%, rgba(77, 77, 77, 0.1) 66%);
}

.gradient-space-right {
    background: linear-gradient(to right, #FFF 0%, rgba(77, 77, 77, 0.1) 66%);
}

.progress-bar {
    transition: width 0.1s ease !important;
}

.text-outline-warning {
    text-shadow: 
        1px 1px var(--bs-warning), 
        -1px -1px var(--bs-warning);
}

.text-outline-danger {
    text-shadow: 
        1px 1px 1px var(--bs-danger), 
        -1px -1px 1px var(--bs-danger), 
        -1px 1px 1px var(--bs-danger), 
        1px -1px 1px var(--bs-danger);
}

.btn-twitch {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9146FF;
    --bs-btn-border-color: #9146FF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7c3aed;
    --bs-btn-hover-border-color: #7c3aed;
    --bs-btn-focus-shadow-rgb: 145, 70, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6d28d9;
    --bs-btn-active-border-color: #6d28d9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9146FF;
    --bs-btn-disabled-border-color: #9146FF;
}

.qqq .filters .map-presets .btn {
    box-shadow: inset 0 0 0 0.125rem var(--bs-danger);
}

.qqq .filters .map-presets .btn {
    text-shadow: 
        1px 1px 1px var(--bs-btn-active-color), 
        -1px -1px 1px var(--bs-btn-active-color), 
        -1px 1px 1px var(--bs-btn-active-color), 
        1px -1px 1px var(--bs-btn-active-color);
}

.qqq .filters .map-presets .btn:hover, .qqq .filters .map-presets .btn.active {
    text-shadow: 
        1px 1px 1px var(--bs-btn-color), 
        -1px -1px 1px var(--bs-btn-color), 
        -1px 1px 1px var(--bs-btn-color), 
        1px -1px 1px var(--bs-btn-color);
}

.custom-file-input-tall {
    font-size: 2rem;
}

.custom-file-input-tall::file-selector-button {
    padding: 0.8rem 1rem;
    font-size: 2rem;
    background-color: rgb(13, 110, 253);
    color: rgb(255, 255, 255);
}

.custom-file-input-tall:hover::file-selector-button {
    background-color: #0b5ed7  !important;
}

.custom-file-input-tall::-webkit-file-upload-button {
    padding: 0.8rem 1rem;
    font-size: 2rem;
}

.custom-file-input-tall::-moz-file-upload-button {
    padding: 0.8rem 1rem;
    font-size: 2rem;
}

.path-helper {
    max-width: 60rem;
}

@keyframes mascotWiggleAnimation {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    60% { transform: rotate(-3deg); }
    80% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes bump {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes mascotWiggleAndBump {
    0% { transform: rotate(0deg) scale(1); }
    20% { transform: rotate(-4deg) scale(1.04); }
    40% { transform: rotate(4deg) scale(1.04); }
    60% { transform: rotate(-2deg) scale(1.04); }
    80% { transform: rotate(2deg) scale(1.04); }
    100% { transform: rotate(0deg) scale(1); }
}

.mascot-image {
    width: 5.5rem;
    height: 5.5rem;
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
}

.mascot-image.d-none {
    visibility: hidden !important;
    display: inherit !important;
}

.mascot-image.poke {
    animation: mascotWiggleAnimation 0.7s ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
}

.progress-modal .mascot-image {
    position: absolute;
    top: -5rem;
    left: 0;
    z-index: 1060;
}

.mascot-speaking {
    animation: mascotWiggleAndBump 0.5s ease-in-out;
}

.speech-bubble {
    position: absolute;
    right: calc(100% + 0.625rem);
    top: 1.25rem;
    background: white;
    border: 0.125rem solid var(--bs-dark);
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
    z-index: 2;
}

.measure-bubble {
    visibility: hidden;
    overflow-wrap: break-word;
    max-width: 20rem;
    right: 0;
    top: 0;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: -0.625rem;
    top: 1.25rem;
    width: 0;
    height: 0;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-left: 0.625rem solid;
    border-left-color: inherit;
}

@media (max-width: 2000px) {
    .speech-bubble {
        right: auto;
        left: 6.5rem;
    }
    
    .speech-bubble:after {
        right: auto;
        left: -0.625rem;
        border-left: none;
        border-right: 0.625rem solid;
        border-right-color: inherit;
    }
    
    .speech-bubble:before {
        right: auto;
        left: -0.5rem;
        border-left: none;
    }
}

.border-fade-secondary {
    border-image-slice: 1; 
    border-image-source: linear-gradient(
      to right,                   
      var(--bs-light, #fff),
      var(--bs-secondary, #6c757d) 25%, 
      var(--bs-secondary, #6c757d) 75%, 
      var(--bs-light, #fff)
    );
}

.app-header-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: -1rem;
    position: relative;
}

.app-header-container h1 {
    pointer-events: none;
    user-select: none;
}

.map-list-table {
    table-layout: fixed;
}

.map-list-table .th-area {
    width: 22%;
}
.map-list-table .th-events {}

.map-list-table .th-entered-at {
    width: 9.5rem;
}

.map-list-table .th-time-spent {
    width: 4.5rem;
}

.map-list-table .th-area-level {
    width: 6rem;
}

.map-list-table .th-char-level {
    width: 6.5rem;
}

.map-list-table td:nth-of-type(n+3):nth-of-type(-n+6) { /* time spent, entered at, area level, char level */
    text-align: right;
}

.map-list-table th.sortable {
    cursor: pointer;
    user-select: none;
}

.map-list-table td {
    vertical-align: top;
}

.map-list-table td:nth-of-type(2) { /* events */
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-list-table a {
    text-decoration: none;
    color: var(--bs-primary);
}

.map-event-tooltip .tooltip-inner {
    max-width: 100%;
}

.tooltip {
    visibility: hidden;
}

.tooltip.show {
    visibility: visible;
}

.timeline-container {
    position: relative;
    padding-left: 30px; 
}

.timeline-event-item {
    position: relative;
    padding-left: 35px;
    border-left: 2px solid #ddd;
}

.timeline-event-icon {
    position: absolute;
    left: -13px; 
    top: 0;
}

.timeline-event-icon i {
    background-color: white;
}

.raw-log .ts {
    color: var(--bs-secondary);
}

.virtual-scroll-container {
    position: relative;
    margin-top: 1rem;
}

.virtual-scroll-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.virtual-scroll-spacer {
    pointer-events: none;
}

.facet-filter-toggle {
    width: 100%;
}

.overlay-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    z-index: 1000;
    padding: 0.5rem;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.overlay-options.active {
    display: block;
}

.overlay-options .form-check {
    padding-left: 2em;
    margin-bottom: 0.25rem;
}

.overlay-options .form-check-label {
    display: flex;
    justify-content: space-between;
}

.overlay-options .form-check {
    user-select: none;
    label, input {
        cursor: pointer;
    }
}

.omni-input {
    font-size: 1.1rem;
}

.omni-results {
    margin-top: 0.5rem;
}

.omni-result-item {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
}

.omni-result-item:hover {
    background: var(--bs-light);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate-border {
    to {
        --gradient-angle: 360deg;
    }
}

.border-gradient:hover, .border-gradient:focus, .border-gradient:active {
    border-color: transparent !important;
    border-radius: 0.375rem;

    background: 
        linear-gradient(var(--bs-body-bg, #fff), var(--bs-body-bg, #fff)) padding-box,
        conic-gradient(from var(--gradient-angle), 
            #fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c
        ) border-box;

    animation: rotate-border 3s linear infinite;
}